Django==6.0.6
djangorestframework==3.17.1
pandas==3.0.3
pypdf==6.13.2
Requests==2.34.2
streamlit==1.56.0
psycopg2-binary==2.9.10
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
pt_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.8.0/pt_core_news_lg-3.8.0-py3-none-any.whl#sha256=2561c9a72a938d37141e9694e1a36d25061a44ce7e4f3bad2d3fa3bb836191af
presidio-analyzer==2.2.356
presidio-anonymizer==2.2.356